--Group Members 

--Abdullah Awan 21L-7713
--Mudassir Ali 21L-5474
--Abdullah Saeed 21L-7601


--Bank_Management_System
-- Users Table
CREATE TABLE Users (
    UserID INT PRIMARY KEY IDENTITY(1,1),
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    PhoneNumber VARCHAR(15),
    IDCardNumber VARCHAR(50),
    DateOfBirth DATE,
    Address VARCHAR(255),
    Password VARCHAR(255),  -- Ensure you use a hashing method before storing passwords
    AccountStatus VARCHAR(10) DEFAULT 'active'
);

-- Accounts Table
CREATE TABLE Accounts (
    AccountID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT FOREIGN KEY REFERENCES Users(UserID),
    AccountNumber VARCHAR(20),
    AccountType VARCHAR(10),
    Balance DECIMAL(18,2),
    LastTransactionDate DATETIME
);

-- Transactions Table
CREATE TABLE Transactions (
    TransactionID INT PRIMARY KEY IDENTITY(1,1),
    AccountID INT FOREIGN KEY REFERENCES Accounts(AccountID),
    Type VARCHAR(50),
    Amount DECIMAL(18,2),
    DateAndTime DATETIME,
    SenderAccount VARCHAR(20),
    ReceiverAccount VARCHAR(20),
    Description VARCHAR(255)
);

-- BillPayments Table
CREATE TABLE BillPayments (
    PaymentID INT PRIMARY KEY IDENTITY(1,1),
    AccountID INT FOREIGN KEY REFERENCES Accounts(AccountID),
    BillType VARCHAR(50),
    Amount DECIMAL(18,2),
    Date DATETIME
);

-- Cards Table
CREATE TABLE Cards (
    CardID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT FOREIGN KEY REFERENCES Users(UserID),
    CardType VARCHAR(50),
    CardNumber VARCHAR(20),
    ExpiryDate DATE,
    CardLimit DECIMAL(18,2)
);

-- Cheques Table
CREATE TABLE Cheques (
    ChequeID INT PRIMARY KEY IDENTITY(1,1),
    AccountID INT FOREIGN KEY REFERENCES Accounts(AccountID),
    ChequeNumber VARCHAR(20),
    Amount DECIMAL(18,2),
    DateIssued DATETIME,
    DateEncashed DATETIME,
    Status VARCHAR(50)
);

-- MoneyRequests Table
CREATE TABLE MoneyRequests (
    RequestID INT PRIMARY KEY IDENTITY(1,1),
    SenderUserID INT FOREIGN KEY REFERENCES Users(UserID),
    ReceiverAccount VARCHAR(20),
    Amount DECIMAL(18,2),
    DateRequested DATETIME
);

-- Beneficiaries Table
CREATE TABLE Beneficiaries (
    BeneficiaryID INT PRIMARY KEY IDENTITY(1,1),
    AccountID INT FOREIGN KEY REFERENCES Accounts(AccountID),
    BeneficiaryAccount VARCHAR(20)
);

-- OnlinePurchases Table
CREATE TABLE OnlinePurchases (
    PurchaseID INT PRIMARY KEY IDENTITY(1,1),
    AccountID INT FOREIGN KEY REFERENCES Accounts(AccountID),
    Amount DECIMAL(18,2),
    DateOfPurchase DATETIME,
    CouponCode VARCHAR(20),
    DiscountAmount DECIMAL(18,2)
);

-- EducationPayments Table
CREATE TABLE EducationPayments (
    PaymentID INT PRIMARY KEY IDENTITY(1,1),
    AccountID INT FOREIGN KEY REFERENCES Accounts(AccountID),
    InstitutionName VARCHAR(100),
    Amount DECIMAL(18,2),
    DatePaid DATETIME
);

-- Loans Table
CREATE TABLE Loans (
    LoanID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT FOREIGN KEY REFERENCES Users(UserID),
    LoanAmount DECIMAL(18,2),
    InterestRate DECIMAL(5,2),
    StartDate DATETIME,
    EndDate DATETIME
);

-- Donations Table
CREATE TABLE Donations (
    DonationID INT PRIMARY KEY IDENTITY(1,1),
    AccountID INT FOREIGN KEY REFERENCES Accounts(AccountID),
    CharityName VARCHAR(100),
    Amount DECIMAL(18,2),
    DateDonated DATETIME
);

-- BudgetPlanner Table
CREATE TABLE BudgetPlanner (
    PlannerID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT FOREIGN KEY REFERENCES Users(UserID),
    MonthlyBudget DECIMAL(18,2),
    AverageSpent DECIMAL(18,2),
    Suggestions VARCHAR(500)
);

-- FamilyCards Table (Secondary)
CREATE TABLE FamilyCards (
    FamilyCardID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT FOREIGN KEY REFERENCES Users(UserID),
    ChildName VARCHAR(50),
    ChildDOB DATE,
    CardNumber VARCHAR(20)
);

-- TravelBookings Table (Secondary)
CREATE TABLE TravelBookings (
    BookingID INT PRIMARY KEY IDENTITY(1,1),
    AccountID INT FOREIGN KEY REFERENCES Accounts(AccountID),
    ModeOfTravel VARCHAR(50),
    TicketNumber VARCHAR(20),
    Amount DECIMAL(18,2),
    DateBooked DATETIME
);

-- Leasings Table (Secondary)
CREATE TABLE Leasings (
    LeaseID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT FOREIGN KEY REFERENCES Users(UserID),
    Product VARCHAR(100),
    LeaseAmount DECIMAL(18,2),
    StartDate DATETIME,
    EndDate DATETIME
);

-- InvestmentSuggestions Table (Secondary)
CREATE TABLE InvestmentSuggestions (
    SuggestionID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT FOREIGN KEY REFERENCES Users(UserID),
    InvestmentType VARCHAR(100),
    Amount DECIMAL(18,2),
    DateSuggested DATETIME
);   -- Inserting into Users Table
INSERT INTO Users (FirstName, LastName, PhoneNumber, IDCardNumber, DateOfBirth, Address, Password)
VALUES ('John', 'Doe', '123-456-7890', 'A123456B', '1990-01-01', '123 Main St, City A, Country X', 'hashed_password123');

INSERT INTO Users (FirstName, LastName, PhoneNumber, IDCardNumber, DateOfBirth, Address, Password)
VALUES ('Jane', 'Smith', '123-456-7891', 'B123456C', '1992-02-12', '124 Main St, City B, Country X', 'hashed_password456');

INSERT INTO Users (FirstName, LastName, PhoneNumber, IDCardNumber, DateOfBirth, Address, Password)
VALUES ('Robert', 'Brown', '123-456-7892', 'C123456D', '1985-05-15', '125 Main St, City C, Country X', 'hashed_password789');


   -- Inserting into Accounts Table

INSERT INTO Accounts (UserID, AccountNumber, AccountType, Balance, LastTransactionDate)
VALUES (1, '100000000001', 'Savings', 5000.00, '2023-01-05');

INSERT INTO Accounts (UserID, AccountNumber, AccountType, Balance, LastTransactionDate)
VALUES (2, '100000000002', 'Current', 12000.00, '2023-01-04');

INSERT INTO Accounts (UserID, AccountNumber, AccountType, Balance, LastTransactionDate)
VALUES (3, '100000000003', 'Savings', 7000.00, '2023-01-03');


   -- Inserting into Transactions Table

INSERT INTO Transactions (AccountID, Type, Amount, DateAndTime, SenderAccount, ReceiverAccount, Description)
VALUES (1, 'Deposit', 2000.00, '2023-01-06 10:30:00', NULL, '100000000001', 'Initial deposit');

INSERT INTO Transactions (AccountID, Type, Amount, DateAndTime, SenderAccount, ReceiverAccount, Description)
VALUES (2, 'Transfer', 500.00, '2023-01-06 11:00:00', '100000000002', '100000000001', 'Payment for services');

INSERT INTO Transactions (AccountID, Type, Amount, DateAndTime, SenderAccount, ReceiverAccount, Description)
VALUES (1, 'Deposit', 500.00, '2023-01-06 11:00:00', '100000000002', '100000000001', 'Received payment for services');






-- Inserting into BillPayments Table

INSERT INTO BillPayments (AccountID, BillType, Amount, Date)
VALUES (1, 'Electricity', 120.00, '2023-01-06');

INSERT INTO BillPayments (AccountID, BillType, Amount, Date)
VALUES (1, 'Water', 40.00, '2023-01-07');

INSERT INTO BillPayments (AccountID, BillType, Amount, Date)
VALUES (2, 'Gas', 60.00, '2023-01-08');




  -- Inserting into Cards Table

INSERT INTO Cards (UserID, CardType, CardNumber, ExpiryDate, CardLimit)
VALUES (1, 'Debit', '4111111111111111', '2025-12-31', 5000.00);

INSERT INTO Cards (UserID, CardType, CardNumber, ExpiryDate, CardLimit)
VALUES (1, 'Credit', '5111111111111111', '2026-05-31', 10000.00);

INSERT INTO Cards (UserID, CardType, CardNumber, ExpiryDate, CardLimit)
VALUES (2, 'Credit', '5222222222222222', '2026-07-31', 12000.00);




  -- Inserting into Cheques Table

INSERT INTO Cheques (AccountID, ChequeNumber, Amount, DateIssued, Status)
VALUES (1, 'CHQ0001', 500.00, '2023-01-10', 'Issued');

INSERT INTO Cheques (AccountID, ChequeNumber, Amount, DateIssued, Status)
VALUES (1, 'CHQ0002', 250.00, '2023-01-15', 'Encashed');

INSERT INTO Cheques (AccountID, ChequeNumber, Amount, DateIssued, Status)
VALUES (2, 'CHQ0003', 1000.00, '2023-01-17', 'Issued');




  -- Inserting into MoneyRequests Table

INSERT INTO MoneyRequests (SenderUserID, ReceiverAccount, Amount, DateRequested)
VALUES (1, '100000000002', 200.00, '2023-01-15');

INSERT INTO MoneyRequests (SenderUserID, ReceiverAccount, Amount, DateRequested)
VALUES (2, '100000000003', 100.00, '2023-01-16');

INSERT INTO MoneyRequests (SenderUserID, ReceiverAccount, Amount, DateRequested)
VALUES (3, '100000000004', 50.00, '2023-01-17');


  -- Inserting into Beneficiaries Table

INSERT INTO Beneficiaries (AccountID, BeneficiaryAccount)
VALUES (1, '100000000002');

INSERT INTO Beneficiaries (AccountID, BeneficiaryAccount)
VALUES (1, '100000000005');

INSERT INTO Beneficiaries (AccountID, BeneficiaryAccount)
VALUES (2, '100000000003');




   -- Inserting into OnlinePurchases Table

INSERT INTO OnlinePurchases (AccountID, Amount, DateOfPurchase, CouponCode, DiscountAmount)
VALUES (1, 50.00, '2023-01-10', 'NEWYEAR10', 5.00);

INSERT INTO OnlinePurchases (AccountID, Amount, DateOfPurchase, CouponCode, DiscountAmount)
VALUES (1, 25.00, '2023-01-15', 'FREESHIP', 0.00);

INSERT INTO OnlinePurchases (AccountID, Amount, DateOfPurchase, CouponCode, DiscountAmount)
VALUES (2, 100.00, '2023-01-17', NULL, 0.00);



  -- Inserting into EducationPayments Table

INSERT INTO EducationPayments (AccountID, InstitutionName, Amount, DatePaid)
VALUES (1, 'Tech University', 1000.00, '2023-01-10');

INSERT INTO EducationPayments (AccountID, InstitutionName, Amount, DatePaid)
VALUES (1, 'Alpha College', 500.00, '2023-01-11');

INSERT INTO EducationPayments (AccountID, InstitutionName, Amount, DatePaid)
VALUES (2, 'Beta Institute', 1200.00, '2023-01-15');



  -- Inserting into Loans Table

INSERT INTO Loans (AccountID, LoanAmount, InterestRate, DateIssued, Description)
VALUES (1, 100000.00, 4.5, '2023-01-05', 'Housing loan for property in City A');

INSERT INTO Loans (AccountID, LoanAmount, InterestRate, DateIssued, Description)
VALUES (2, 15000.00, 6.0, '2023-01-10', 'Personal loan for medical expenses');

INSERT INTO Loans (AccountID, LoanAmount, InterestRate, DateIssued, Description)
VALUES (3, 50000.00, 5.5, '2023-01-15', 'Business loan for startup "Tech Innovate"');


